return require 'CodeGen' {

   declaration = [[

#include <inttypes.h>
extern int
${name}(  
      ${op1type} *in1,  
      ${op2type} *in2,  
      uint64_t nR,  
      ${returntype} * restrict out 
      ) 
;

   ]],
   definition = [[

#include "${name}.h"

static int 
__operation(
      ${op1type} a,
      ${op2type} b, 
      ${returntype} *ptr_c
      )
      {
      *ptr_c = ${scalar_op};
      }

int
${name}(  
      ${op1type} *in1,  
      ${op2type}  *in2,  
      uint64_t nR,  
      ${returntype} * restrict out 
      )

{ 
  int status = 0;
 ${op1type} inv1; 
 ${op2type} inv2; 
 ${returntype} outv; 
#pragma omp parallel for 
 for ( uint64_t i = 0; i < nR; i++ ) {  
   inv1 = *in1; 
   inv2 = *in2; 
   status = __operation(inv1, inv2, &outv);
   *out = outv; 
   in1++; 
   in2++; 
   out++; 
 } 
 BYE:
 return status;
}

   ]]
}
